.navbar {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .menu {

    display: inline-block;
    padding: 15px 50px;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    position: relative;

}

.navbar .menu:hover  .sub-msenu{

    display: block;
    animation: moveDown 0.5s ease-out forwards;
}

@keyframes moveDown {

    0%{
        height: 0;
    }

    100%{
        height: 500px;
    }
    
}

.navbar .menu .sub-msenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    color: black;
    background-color: #e0dfdf;
    height: 0;
}

.navbar .menu .sub-msenu .item{

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar .menu .sub-msenu .item:hover{

    background-color: #939393;
}

.navbar .menu .sub-msenu .item:hover .ineer-list{

    display: block;
}

.menu .sub-msenu .item .ineer-list{
    position: absolute;
    right: -120px;
    top: 0;
    background: red;
    width: 120px;
    display: none;
}

.green {

    background-color: #3cd963;
}

.blue {

    background-color: #3c3cd9;
}

.red {

    background-color: #d93c51;
}

.orange {

    background-color: #d9953c;
}